{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="row mt-5 py-5 justify-content-center">
            <div class="col-lg-6 my_shadow px-5 py-3 rounded">
                <h3 class="text-uppercase text-warning">Create post</h3>
                <form action="{% url 'main:post-create' %}" method="post" class="text-light">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-info">Create</button>
                </form>
            </div>
        </div>
{% endblock content %}